footer.bg-dark.text-white.pt-4.pb-2.mt-5
  .container
    .row
      // Cột 1 - Logo + mô tả
      .col-md-4.mb-3
        h5 ShopOnline
        p.mb-0 Website bán hàng đơn giản, demo bằng NodeJS + Pug.

      // Cột 2 - Menu
      .col-md-4.mb-3
        h6 Liên kết
        ul.list-unstyled
          li
            a.text-white.text-decoration-none(href="/") Trang chủ
          li
            a.text-white.text-decoration-none(href="/products") Sản phẩm
          li
            a.text-white.text-decoration-none(href="/about") Giới thiệu
          li
            a.text-white.text-decoration-none(href="/contact") Liên hệ

      // Cột 3 - Liên hệ
      .col-md-4.mb-3
        h6 Liên hệ
        p.mb-1 Email: example@gmail.com
        p.mb-1 SĐT: 0123 456 789
        p.mb-0 Địa chỉ: Hà Nội

    hr.border-light

    // Copyright
    .text-center
      p.mb-0 © 2026 MyWebsite. All rights reserved.