header.bg-dark.text-white.py-3
  .container
    .d-flex.justify-content-between.align-items-center
      // Logo
      a.text-white.text-decoration-none(href="/")
        h4.mb-0 ShopOnline

      // Menu
      ul.nav
        li.nav-item
          a.nav-link.text-white(href="/") Trang chủ
        li.nav-item
          a.nav-link.text-white(href="/products") Sản phẩm
        li.nav-item
          a.nav-link.text-white(href="/about") Giới thiệu
        li.nav-item
          a.nav-link.text-white(href="/contact") Liên hệ